.home{
	width: 100%;
	max-height: 100%;
	justify-content: center;
	display: flex;
	align-items: center;
	font-family: fira code;
}
.item{
	width: 480px;
	height: 480px;
	margin-top: 50px;
	background-color: #fff;
	justify-content: center;
	align-items: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content{
	height: 100px;
	padding:20px;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.in{
	padding-left: 15px;
	padding-right: 15px;
}
.logo h2{
	font-size: 30px;
	font-family: fira code;
	font-weight: bold;
	margin-bottom: 10px;
	color: #2196f3;

}

input[type="text"]{
	background: 0 0;
	box-shadow: none;
	border: 1px solid #afb5c1;
	border-radius: 10px;
	margin-bottom: 40px;
	padding:2px;
}
.lg{
   margin-bottom: 10px;
   padding: 10px;
   width: 100%;
}

input[type="text"]:focus{
box-shadow: none !important;
border-radius: 10px;
border: 1px solid #2196f3;
}
.reg{
    font-family: fira code;;
	font-size: 15px;
	font-weight: bold;
	color: #2196f3;
}
button{
	font-size: 15px;
	font-weight: bold;
	outline: none;
}
.error{
	font-family: var(--font);
	color: red;
	animation-name: error;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	text-align: left;
	display: none;
}

@keyframes error {
	0%{left: 0; transform: translateX(0px);}
	100%{left: 15px; transform: translateX(180px);}
}
