body{
	height: 100%;
}

.main{
    position: absolute;
	height: 520px;
	border: 1px solid #2196f3;
	width: 60%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title{
	font-size: 20px;
	font-family: fira code;
	color: #fff;
	background-color: #2196f3;
    font-weight: bold;
    padding: 5px;
}
.line{
	height: 70px;
	padding: 10px;

}
.button{
	padding-top: 10px;
}
.button a{
	padding-left: 10px;
    color: #2196f3;
    font-size: 16px;
    font-family:fira code;
    font-weight: bold;
}
.search{
	height: 50px;
	float: right;
	padding-top: 10px;
}
.searchTerm{
    border: 1px solid #2196f3;
    width: 100%;
    height: 40px;
    padding: 5px;
    border-radius: 15px;
    outline: none;
    color: rgb(90,90,90);
	font-family: fira code;
}

.content{
	height: 400px;
	width: 100%;
	font-family: fira code;
	font-size: 15px;
	margin-top: 5px;

}
.content table{
	width: 100%;
	border-collapse: collapse;
}
.content th{
    text-align: center;
    padding: 8px;
    background-color: #2196f3;
	color: white;
}
.content td{
    text-align: center;
	padding: 8px;
}
.content tr:nth-child(even){background-color: #f2f2f2}


.content td input[type="text"]{
	background: 0 0;
	box-shadow: none;
	border-radius: 10px;
	padding:2px;
	width: 130px;
	text-align: center;
	color: black;
}


